/* Home Page */
.IntroductionPage {
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  margin-bottom: -50px;
  align-items: center;
}

.IntroductionText h1{ 
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 0.7px;
  padding-top: 10px;
}

.TypeEffect {
  padding: 25px 0px;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.6px;
}

@media (max-width: 900px) {
  .IntroductionPage {
    display: block;
    text-align: center;
    margin-top: 150px;
    padding: 25px;
  }
  .IntroductionText {
    text-align: left;
    display: inline-block;
  }
}

@media (max-width: 500px) {
  .IntroductionPage {
    min-height: 70vh;
  }
  .IntroductionText h1 {
    font-weight: 500;
    font-size: 28px;
  }
  .TypeEffect {
    font-weight: 500;
    font-size: 24px;
  }
}

.Coder {
  animation: bounceIn;
  animation-duration: 2s;
}

.IntroductionText button {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin: 25px 3% 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #242424;
  color: #e7e7e7;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  border-style: none;
  transition: all ease-in-out 0.3s;
}

.IntroductionText button:hover {
  color: #242424;
  background-color: #e7e7e7;
  transition: all ease-in-out 0.3s;
}

/* About Page */
.AboutText button {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin: 25px 3% 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #242424;
  color: #e7e7e7;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  border-style: none;
  transition: all ease-in-out 0.3s;
}

.AboutText button:hover {
  color: #242424;
  background-color: #e7e7e7;
  transition: all ease-in-out 0.3s;
}

.AboutPage {
  display: flex;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-top: 100px;
  align-items: center;
  padding: 25px;
}

.AboutText {
  width: 50%;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.AboutTextHeading {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 40px;
}

@media (max-width: 900px) {
  .AboutPage {
    display: block;
    text-align: center;
    padding: 30px;
  }
  .AboutText {
    text-align: left;
    display: inline-block;
    width: 95%;
    line-height: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 80px;
  }
  .AboutTextHeading {
    font-size: 26px;
  }
}

/* Contact Page */
.contact-container {
  position: relative;
  margin-top: 50%;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.contact-container h2 {
  margin-top: 30%;
  text-align: center;
  color: var(--color);
}

.form-group {
  margin-bottom: 20px;
  outline: none;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group input:focus,
.form-group textarea:focus{
  outline: 3px solid #15cdfc;
}

.form-group input::placeholder,
.form-group textarea::placeholder{
  color: #a9a9a9
}

.form-group textarea {
  height: 100px;
}
a .submit-btn {
  margin: 0 auto;
  display: flex;
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  background-color: #242424;
  color: #e7e7e7;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  border-style: none;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  transition: all ease-in-out 0.3s;
}
a .submit-btn:hover {
  color: #242424;
  background-color: #e7e7e7;
  transition: all ease-in-out 0.3s;
}
a {
  text-decoration: none;
}
.submitted-message {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
}


